* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100vw;
  background-image: url(/images/backgroundlight.png);
  background-position: center;
  background-size: cover;
  position: absolute;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.boxLogo img {
  width: 300px;
  padding: 1% 6%;
  margin: 0;
  border-radius: 0%;
  display: inline-block;
}
.mobileLogo img {
  display: none;
}
nav .mobileTitle {
  display: none;
}
.nav-links {
  flex: 2;
  text-align: right;
}
.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 15px;
  position: relative;
}
.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.nav-links ul li a:hover {
  color: #f1543b;
  text-decoration: none;
  font-size: 24 px;
  font-weight: 600;
  transition: all 0.2s ease-out;
}
.nav-links ul li::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: #f1543b;
  display: block;
  margin: auto;
  transition: 0.15s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

nav .featherIconMenu {
  display: none;
}
nav .featherIconX {
  display: none;
}

.myWorkTitle {
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 0px;
}
.contentWork {
  display: inline-block;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}
.contentWork h1 {
  font-size: 44px;
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 50px;
  letter-spacing: 2px;
}
.contentWork button {
  display: inline-block;
  text-decoration: none;
  border: 1%;
  border-width: 1px;
  letter-spacing: 1px;
  padding: 15px 32px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 50px;
}
.contentWork button:hover {
  background-color: black;
  transition: 0.3s;
  color: white;
}

.row {
  padding-top: 50px;
  padding-bottom: 0px;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-flow: wrap;
  flex-direction: row;
}
.myWorkContainer {
  flex-basis: 45%;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  max-width: 100%;
  max-height: 100%;
}
.myWorkContainer:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.myWorkContainer h1 {
  padding-bottom: 0px;
  letter-spacing: 0px;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.myWorkContainer h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.myWorkContainer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 10px;
}
.floatingImg {
  display: flex;
  float: center;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  max-height: 200px;
  min-width: 50px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.circleImg {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  max-height: 200px;
  min-width: 50px;
  border-radius: 20px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  width: 100%;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 30px 0;
  position: bottom;
  background-color: none;
  vertical-align: top;
}
.footer p {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
}
.footer button {
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 30px;
  border: 1%;
  border-width: 1px;
}
.footer button:hover {
  background: black;
  transition: 0.3s;
  color: white;
}
.footer img {
  border-radius: 0%;
  padding: 0;
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .nav-links {
    position: absolute;
    color: white;
    background: black;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
  }
  .nav-links ul li {
    text-align: center;
    display: none;
  }
  .nav-links ul li a {
    color: white;
    display: none;
  }
  nav .featherIconX {
    display: inline-block;
    color: white;
    margin: 27px;
    text-align: right;
    font-size: 22px;
    cursor: pointer;
  }
  nav .featherIconMenu {
    display: block;
    color: black;
    margin: 16px;
    text-align: auto;
    font-size: 22px;
    cursor: pointer;
  }
  .boxLogo img {
    display: none;
  }
  .mobileLogo img {
    display: inline-block;
    width: 50px;
    padding: 1% 1%;
    margin: 5px;
    border-radius: 0%;
    text-align: left;
  }
  nav {
    display: flex;
    padding: 3% 3%;
    text-align: left;
    justify-content: space-between;
    position: sticky;
  }

  .contentWork {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contentWork h1 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .contentWork p {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 25px;
  }
  .contentWork button {
    font-weight: 300;
    font-size: 14px;
    padding: 15px 20px;
  }
  .myWorkContainer {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    padding: 5px;
    transition: 0.3s;
    flex-basis: 90%;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .row {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
  .myWorkContainer h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .myWorkContainer h5 {
    font-size: 12px;
    font-weight: 500;
  }
  .myWorkContainer p {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .myWorkImg {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
  }
  .circleImg {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 150px;
  }
  .footer img {
    border-radius: 0%;
    display: inline-block;
    width: 300px;
    padding: 0;
    margin: 5px;
    text-align: center;
  }
  .footer button {
    display: inline-block;
    text-decoration: none;
    border: 1%;
    border-width: 1px;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 15px 20px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
  }
  .footer p {
    font-weight: 300;
    font-size: 12px;
  }
}
