/*Fonts and Overall Style Settings*/
* {
  margin: 0;
  padding: 0;
  color: #252525;
  font-family: "Avenir";
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir.woff") format("woff"),
    url("../fonts/Avenir.ttf") format("truetype"),
    url("../fonts/Avenir.svg#Avenir") format("svg");
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 64px;
  padding: 0.5em;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}
p {
  font-size: 14px;
}
/*Background Image*/
.header {
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: absolute;
}

/*Logo*/
.logo img {
  width: 250px;
  padding: 25px;
  margin: 0;
  display: flex;
}
.logoCartoon img {
  display: none;
}

/*Navigation*/
nav {
  display: flex;
  padding: 0% 4%;
  justify-content: space-between;
  position: fixed;
  background-size: cover;
  background-image: url(/images/navbackground.png);
  top: 0;
  width: 100%;
}
nav .mobileTitle {
  display: none;
}
.nav-links {
  flex: 2;
  text-align: right;
  padding: 1% 6%;
}
.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 15px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  float: right;
  display: block;
  text-align: center;
  padding: 12px 14px;
}
.nav-links ul li a:hover {
  color: #dd724c;
  text-decoration: none;
  font-size: 24 px;
  font-weight: 600;
  transition: all 0.2s ease-out;
}
.nav-links ul li::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: #dd724c;
  display: block;
  margin: auto;
  transition: 0.15s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.nav-links ul ul {
  position: absolute;
  top: 60px;
  display: none;
}
.nav-links ul li:hover > ul nav .featherIconMenu {
  display: none;
}
nav .featherIconX {
  display: none;
}

/*Hero Image*/
.heroContainer {
  display: inline-block;
  align-content: center;
}
.center {
  padding-top: 150px;
  padding-bottom: 10px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  flex-direction: row;
  text-align: left;
  width: 60%;
}
.heroContainer h1 {
  letter-spacing: 0px;
  font-weight: 700;
  display: inline-flex;
  padding-bottom: 10px;
}
.heroContainer h5 {
  font-weight: 400;
  padding: 10px;
  padding-bottom: 10px;
}
.btnContainer {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.primaryBtn {
  max-width: 200px;
  width: 100%;
  display: inline;
  text-decoration: none;
  border: 1%;
  border-width: 0px;
  letter-spacing: 1px;
  padding: 15px;
  font-size: 12px;
  background: linear-gradient(#dd724c, #faa56b);
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.primaryBtn:hover {
  background: #dd724c;
  transition: 0.3s;
  color: white;
}

.secondaryBtn {
  max-width: 200px;
  width: 100%;
  display: inline;
  text-decoration: none;
  border: 1%;
  border-width: 0.5px;
  letter-spacing: 1px;
  padding: 15px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.secondaryBtn:hover {
  background-color: black;
  transition: 0.3s;
  color: white;
}

/*Work Container Info*/
.myWorkTitle {
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 0px;
}
.contentWork {
  display: inline-block;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}
.contentWork h2 {
  font-size: 44px;
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 50px;
  letter-spacing: 2px;
}
.contentWork button {
  display: inline-block;
  text-decoration: none;
  border: 1%;
  border-width: 1px;
  letter-spacing: 1px;
  padding: 15px 54px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.contentWork button:hover {
  background-color: black;
  transition: 0.3s;
  color: white;
}
/*Work Container Box*/
.row {
  padding-top: 50px;
  padding-bottom: 0px;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-flow: wrap;
  flex-direction: row;
}
.myWorkContainer {
  flex-basis: 45%;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  max-width: 100%;
  max-height: 100%;
}
.myWorkContainer:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.myWorkContainer h1 {
  padding-bottom: 0px;
  letter-spacing: 0px;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.myWorkContainer h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.myWorkContainer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 10px;
}
.floatingImg {
  display: flex;
  float: center;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  max-height: 200px;
  min-width: 50px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.circleImg {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  max-height: 200px;
  min-width: 50px;
  border-radius: 20px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Scroll to Top Button*/
#scrollTopBtn {
  background-color: black;
  border-radius: 50%;
  text-decoration: none;
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 58px;
  right: 58px;
  cursor: pointer;
  border: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, white;
}
#scrollTopBtn:hover,
#scrollTopBtn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

/*Footer*/
.footer {
  width: 100%;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 30px 0;
  position: bottom;
  background-color: none;
  vertical-align: top;
}
.footer h4 {
  font-weight: 700;
  padding: 10px;
}
.footer h6 {
  font-weight: 400;
}
.footerEmail {
  font-weight: 700;
  letter-spacing: 2px;
}
.footer p {
  font-weight: 300;
}
.footer button:hover {
  background: black;
  transition: 0.3s;
  color: white;
}
.footer img {
  border-radius: 0%;
  padding: 10px;
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .logo img {
    width: 200px;
    display: flex;
    padding: 15px;
    margin-left: 0px;
  }
  .nav-links {
    position: absolute;
    color: white;
    background: black;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    display: none;
  }
  .nav-links ul li {
    text-align: center;
    display: none;
  }
  .nav-links ul li a {
    color: white;
    display: none;
  }
  nav .featherIconX {
    display: flex;
    justify-content: center;
    color: white;
    margin: 27px;
    text-align: right;
    font-size: 22px;
    cursor: pointer;
  }
  nav .featherIconMenu {
    display: block;
    padding-right: 16px;
    color: #424242;
    margin: 16px;
    text-align: auto;
    font-size: 22px;
    cursor: pointer;
  }
  nav {
    display: flex;
    padding: 3% 3%;
    text-align: left;
    justify-content: space-between;
    position: sticky;
  }

  .contentWork {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contentWork h1 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .contentWork p {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 25px;
  }
  .contentWork button {
    font-weight: 300;
    font-size: 14px;
    padding: 15px 20px;
  }
  .myWorkContainer {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    padding: 5px;
    transition: 0.3s;
    flex-basis: 90%;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .row {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
  .myWorkContainer h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .myWorkContainer h5 {
    font-size: 12px;
    font-weight: 500;
  }
  .myWorkContainer p {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .myWorkImg {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
  }
  .circleImg {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 150px;
  }
  .footer img {
    border-radius: 0%;
    display: inline-block;
    width: 300px;
    padding: 0;
    margin: 5px;
    text-align: center;
  }
  .footer button {
    display: inline-block;
    text-decoration: none;
    border: 1%;
    border-width: 1px;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 15px 20px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
  }
  .footer p {
    font-weight: 300;
    font-size: 12px;
  }
}
